---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/resume/TimeLine.astro";

import { getEntry, getCollection } from "astro:content";
import {type PersonalSchema} from "../content/schemas";
const personalInfo = await getEntry("personal", "info");
const personal: PersonalSchema = personalInfo.data;

const experiences = await getCollection("experience");
const sortedExperiences = experiences.sort((a, b) => {
  return b.data.order - a.data.order;
});

---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">About me</div>
  </div>

  <div class="mb-10 text-justify">
    <div set:html={personal.bio}></div>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <div class="space-y-10"></div>
    { await Promise.all(sortedExperiences.map(async (experience) => {
      const { Content } = await experience.render();
      return (
        <TimeLineElement
          title={experience.data.title}
          date={experience.data.date}
        >
          <div class="prose prose-sm max-w-none">
            <Content />
          </div>
        </TimeLineElement>
      );
    })) }
</BaseLayout>
